<li>
  <a class="flex items-start gap-1" target="_blank" href="https://linkedin.com/in/helpotters">
    <%= icon %>
    <p class="font-rubik font-bold text-lg lg:text-xl"><%= @title %></p>
  </a>
</li>
