<section id="about_me" class="gap-2 lg:px-40 lg:py-20 text-center items-center">
    <%= render partial: "section_header" , locals: {count: 0, title: "About Me" } %>
        <div class="flex flex-col lg:flex-row lg:p-12 items-center">
            <div id="about_card"
                class="w-80 items-center card p-2 shadow-2xl delay-[200ms] duration-[300ms] taos:translate-y-[100px] taos:opacity-0"
                data-taos-offset="100">
                <%= image_tag "otter.png" , class: "rounded-md w-40 h-auto shadow-4xl avatar" %>
                    <div class="card-body items-center text-center font-inter">
                        <h2 class="card-title font-inter">@helpotters</h2>
                        <p>Ruby on Rails Developer</p>
                        <p>Consultant</p>
                        <p>Web Designer</p>
                        <div class="flex-row">
                            <span class="badge badge-accent">Coding</span>
                            <span class="badge badge-accent">Design</span>
                            <span class="badge badge-accent">ADHD</span>
                        </div>
                    </div>
                    <div class="card-actions">
                        <div class="dropdown">
                            <label tabindex="0" class="btn btn-primary m-1">Links</label>
                            <ul tabindex="0" class="dropdown-content menu p-2 shadow-lg rounded-box w-52">
                                <li class="font-inter"><a href="https://linkedin/in/helpotters">LinkedIn</a>
                                </li>
                                <li class="font-inter"><a href="https://github.com/helpotters">Github</a></li>
                                <li class="font-inter"><a href="mailto:paullemus@protonmail.com">Email
                                        Me</a>
                                </li>
                            </ul>
                        </div>

                    </div>
            </div>
            <div id="about_text"
                class="flex-1 px-12 py-4 text-left delay-[300ms] duration-[300ms] taos:translate-y-[100px] taos:opacity-0"
                id="about_text" data-taos-offset="100">
                <p class="mb-5 text-xl font-rubik">
                    I began learning <span class="text-accent-focus">Ruby on
                        Rails</span>
                    so
                    that I could
                    create a better portal for my photography clients, but then realized that I enjoyed coding
                    way
                    more
                    than my photography business.
                    So, <span class="text-primary-focus">I closed up shop</span> and jumped into the deep end in
                    learning
                    full-stack web development.

                    Now I'm working on a scheduling site that helps friend-groups <span class="text-green-400">get
                        together more reliabiliy</span>.
                </p>

                <p class="pt-16 mb-5 text-xl font-rubik">
                    Now, I'm looking for <span class="text-green-400">a full-time position</span> with a small-
                    to medium-sized dev team.
                </p>
            </div>
        </div>
</section>
