<section id="about_me" class="gap-2 lg:px-80 lg:py-20">
    <%= render partial: "section_header" , locals: {count: 1, title: "About Me" } %>
        <div class="card">
            <div class="card-body" tabindex="0">
                <div class="flex flex-col lg:flex-row lg:p-12">
                    <div class="flex-1 px-2" id="about_text">
                        <p class="mb-5 text-sm">
                            Hi! I'm Paul Lemus and I like creating things that help people. I began learning Ruby on
                            Rails
                            so
                            that I could
                            create a better portal for my photography clients, but then realized that I enjoyed coding
                            way
                            more
                            than my photography business.
                            So, <span class="text-green-400">I closed up shop</span> and jumped into the deep end in
                            learning
                            full-stack web development.
                        </p>

                        <p class="pt-16 mb-5 text-sm">
                            Now, I'm looking for a full-time position. I've colloborated with developers for one-time
                            features or consulted on legacy applications.
                        </p>
                    </div>
                    <div id="about_image invisible lg:visible" class="w-40 align-center">
                        <%= image_tag "otter.png" , class: "rounded-md w-auto h-auto shadow-4xl" %>
                    </div>
                </div>
            </div>
        </div>
</section>
