<section id="business" class="gap-8 lg:px-80">
    <%= render partial: "section_header" , locals: {count: 4, title: "Business" } %>
        <div id="real-estate" class="card shadow-xl lg:p-20">
            <div class="card-body gap-4">
                <div class="card-title">
                    <h3 class="text-sm lg:text-xl">SpaceLens</h3>
                    <a href="#" class="nes-badge">
                        <span class="is-error text-xs lg:text-sm">Self-employed</span>
                    </a>
                </div>
                <br />
                <div class="nes-container is-dark with-title">
                    <p class="title">My Work</p>
                    <p>I ran a real-estate photography business. involving drone, 3D scans... etc</p>
                </div>

                <div class="nes-container is-dark with-title">
                    <p class="title">Services</p>
                    <div class="lists">
                        <ul class="nes-list is-disc px-8">
                            <li>Drone Videography</li>
                            <li>24hr turnaround</li>
                            <li>Photography package</li>
                            <li>Video package</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
