<div class="hero-content text-neutral-content flex-col">
    <div class="max-w py-24">
        <h1 class="mb-5 text-2xl font-bold text-green-400">Hi, my name is</h1>
        <h1 class="mb-5 text-6xl font-bold text-white">Paul Lemus.</h1>
        <p class="mb-5">I code applications for Al Gore's internet.</p>
        <div class="flex-row">
            <a href="#" class="nes-badge">
                <span class="is-error text-sm">Ruby/Rails</span>
            </a>
            <a href="#" class="nes-badge">
                <span class="is-error text-sm">Ruby/Rails</span>
            </a>
            <a href="#" class="nes-badge">
                <span class="is-error text-sm">Web Dev</span>
            </a>
            <a href="#" class="nes-badge">
                <span class="is-error text-sm">Web Design</span>
            </a>

            <button class="btn btn-primary btn-large">
                <%= link_to "Download Resume" , '/resume.pdf' , download: "helpotters_resume" %>
            </button>
        </div>

        <p class="pt-16 mb-5 text-lg">I specialize in coding modern Rails apps using RoR, Hotwire, Turbo, and
            Stimulus. Currently, I'm working on building a scheduling site for friend-groups.
        </p>
    </div>

    <div class="text-center p-4">
        <!-- Balloon 'is-dark'  -->
        <div class="nes-container is-rounded is-dark text-left p-8">
            <p> This website is also an online shop. Are you interested in buying stickers?</p>

            <div style="background-color:#212529; padding: 1rem 0;">
                <label>
                    <input type="radio" class="nes-radio is-dark" name="answer-dark" checked />
                    <span>Yes</span>
                </label>

                <label>
                    <input type="radio" class="nes-radio is-dark" name="answer-dark" />
                    <span>No</span>
                </label>
            </div>
        </div>

    </div>
</div>
