<div class="hero-content w-auto flex-col lg:p-2">
    <div class="lg:max-w">
        <h1 class="lg:py-2 text-xl lg:text-1xl font-bold text-primary">Hi, my name is</h1>
        <h1 class="lg:py-2 text-2xl lg:text-4xl font-bold text-accent-focus">Paul Lemus.</h1>
        <p class="py-2 lg:py-6 text-sm lg:text-md">I code applications for Al Gore's internet.</p>
        <div class="py-2 flex-col lg:flex-row">
            <a href="#" class="badge">
                <span class="font-rubik font-semibold text-xs lg:text-sm">Ruby/Rails</span>
            </a>
            <a href="#" class="badge">
                <span class="font-rubik font-semibold text-xs lg:text-sm">Web Dev</span>
            </a>
            <a href="#" class="badge">
                <span class="font-rubik font-semibold text-xs lg:text-sm">Web Design</span>
            </a>
        </div>

        <p class="font-rubik pt-6 lg:pt-16 text-sm lg:text-lg">I specialize in coding modern Rails apps using RoR, Hotwire, Turbo,
            and
            Stimulus.
            Currently, I'm working on building a scheduling site for friend-groups.
        </p>
    </div>

    <div class="text-center p-2 lg:p-4">
        <!-- Balloon 'is-dark'  -->
        <div class="tooltip force-open text-center p-2 lg:p-4 gap-4" data-tip="This website is currently a work-in-progress. Please refer to my resume for now.">


            <%= link_to "Download Resume" , '/resume.pdf' , download: "helpotters_resume" , class: "btn btn-primary" %>

        </div>
    </div>

</div>
