<div class="hero-content w-auto flex-col lg:p-2">
    <div class="flex flex-col lg:flex-row">
        <div class="lg:max-w text-neutral font-rubik">
            <!-- Title and Subtitle -->
            <h1 class="lg:py-2 text-5xl lg:text-9xl font-bold text-primary text-accent-focus font-juana">
                Behold,
                </br>
                a portfolio.
            </h1>
            <p class="py-2 lg:py-6 text-md lg:text-xl font-rubik">I code applications for Al Gore's internet.</p>

            <!-- Badges -->
            <div class="py-2 flex-col lg:flex-row">
                <a href="#" class="badge badge-secondary">
                    <span class="font-rubik font-semibold text-xs lg:text-sm">Ruby/Rails</span>
                </a>
                <a href="#" class="badge badge-secondary">
                    <span class="font-rubik font-semibold text-xs lg:text-sm">Web Dev</span>
                </a>
                <a href="#" class="badge badge-secondary">
                    <span class="font-rubik font-semibold text-xs lg:text-sm">Web Design</span>
                </a>
            </div>
            <!-- Resume Download Button -->
            <div class="text-center p-2 lg:p-4">
                <div class="tooltip force-open text-center p-2 lg:p-4 gap-4"
                     data-tip="Last updated <%= File.mtime('public/resume.pdf').strftime('%Y-%m-%d') %>">
                    <%= link_to "Download Resume" , '/resume.pdf' , download: "helpotters_resume" , class: "btn btn-secondary text-base-100 font-rubik font-bold" %>
                </div>
            </div>
        </div>
        <div class="relative w-50 lg:w-fill lg:justify-center items-center flex lg:block lg:mx-auto">
            <%= render ArtCompositionComponent.new folder: "otters", color_mapping: { "main": "fill-base-100", "fur": "fill-secondary", "highlight": "fill-warning", "underfur": "fill-primary", "eyes": "fill-base-100"} %>
        </div>
    </div>

</div>
