<header class="hero p-8 min-h-screen lg:px-40 font-inter">
    <turbo-frame>
        <%= render "header" %>
    </turbo-frame>
</header>
<main class=" p-4 lg:p-2">
    <turbo-frame>
        <%= render "about_me" %>
    </turbo-frame>
    <turbo-frame>
        <% @sections.each_with_index do |section, count| %>
            <%= render partial: "section" , locals: {section: section, count: count + 1} %>
                <% end %>
    </turbo-frame>
</main>
<a href="https://www.flaticon.com/free-icons/otter" title="otter icons">Otter icons created by Freepik - Flaticon</a>
