<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap');

</style>
<header class="hero min-h-screen bg-[#0a192f] p-10 lg:px-40">
    <turbo-frame>
        <%= render "header" %>
    </turbo-frame>
</header>
<main class="bg-[#0a192f] p-8 lg:p-20 text-slate-200">
    <turbo-frame>
        <%= render "about_me" %>
    </turbo-frame>
    <turbo-frame>
        <% @sections.each_with_index do |section, count| %>
            <%= render partial: "section" , locals: {section: section, count: count + 1} %>
        <% end %>
    </turbo-frame>
</main>
<a href="https://www.flaticon.com/free-icons/otter" title="otter icons">Otter icons created by Freepik - Flaticon</a>
