<turbo-frame id="sections">
    <% @sections.each do |section| %>
        <% cache section do  %>
            <section class="justify-center lg:justify-left gap-2 lg:px-40">
                <%= render SectionHeaderComponent.new title: section.title %>
                <% section.projects.each do |project| %>
                    <% cache project do %>
                        <%= render partial: "projects/project" , locals: {project: project} %>
                    <% end %>
                <% end %>
            </section>
        <% end %>
    <% end %>
</turbo-frame>
