<section id="about_me" class="gap-8 px-80 py-20">
    <div class="card">
        <div class="card-body">
            <div class="card-title w-full flex">
                <h2 class="text-xl text-white">
                    1. About Me
                </h2>
                <div class="divider w-80"></div>
            </div>

            <div class="flex flex-row p-32">
                <div class="px-60" id="about_text">
                    <p class="pt-16 mb-5 text-lg">
                        Hi! I'm Paul Lemus and I like creating things that help people. I began learning Ruby on Rails
                        so
                        that I could
                        create a better portal for my photography clients, but then realized that I enjoyed coding way
                        more
                        than my photography business.
                        So, <span class="text-green-400">I closed up shop</span> and jumped into the deep end in
                        learning
                        full-stack web development.
                    </p>

                    <p class="pt-16 mb-5 text-lg">
                        Now, I'm looking for a full-time position. I've colloborated with developers for one-time
                        features or consulted on legacy applications.
                    </p>
                </div>
                <div id="about_image" class="w-full py-20">
                    <%= image_tag "otter" , class: "rounded-md w-80 shadow-4xl" %>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
